@page
@model Fisioterapia.Web.Pages.Pacientes.CreateModel

@{
    ViewData["Title"] = "Novo Paciente";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Novo</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.Documento" class="control-label"></label>
                <input asp-for="PacienteViewModel.Documento" class="form-control" />
                <span asp-validation-for="PacienteViewModel.Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.NomeCompleto" class="control-label"></label>
                <input asp-for="PacienteViewModel.NomeCompleto" class="form-control" />
                <span asp-validation-for="PacienteViewModel.NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.Email" class="control-label"></label>
                <input asp-for="PacienteViewModel.Email" class="form-control" />
                <span asp-validation-for="PacienteViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.Telefone" class="control-label"></label>
                <input asp-for="PacienteViewModel.Telefone" class="form-control" />
                <span asp-validation-for="PacienteViewModel.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.Celular" class="control-label"></label>
                <input asp-for="PacienteViewModel.Celular" class="form-control" />
                <span asp-validation-for="PacienteViewModel.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.DataNascimento" class="control-label"></label>
                <input asp-for="PacienteViewModel.DataNascimento" class="form-control" />
                <span asp-validation-for="PacienteViewModel.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteViewModel.Profissao" class="control-label"></label>
                <input asp-for="PacienteViewModel.Profissao" class="form-control" />
                <span asp-validation-for="PacienteViewModel.Profissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
