@page
@model Fisioterapia.Web.Pages.Condutas.EditModel

@{
    ViewData["Title"] = "Atualizar Conduta";
}

<h1>@ViewData["Title"]</h1>

<h4>@Model.CondutaViewModel.Paciente.NomeCompleto</h4>
<hr />

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CondutaViewModel.DataConduta" class="control-label"></label>
                <input asp-for="CondutaViewModel.DataConduta" class="form-control" type="date" />
                <span asp-validation-for="CondutaViewModel.DataConduta" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CondutaViewModel.Descricao" class="control-label"></label>
                <input asp-for="CondutaViewModel.Descricao" class="form-control" />
                <span asp-validation-for="CondutaViewModel.Descricao" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <partial name="_Tratamentos.cshtml" model="@Model.TratamentosSelectItens" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="hidden" asp-for="CondutaViewModel.Id" />
                <input type="hidden" asp-for="CondutaViewModel.PacienteId" />
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index" asp-route-pacienteid="@Model.CondutaViewModel.PacienteId">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
